# Build results
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results
TestResults/

# Coverage
coverage/
*.coverage
*.coveragexml

# macOS
.DS_Store